:root {
  --primary: rgb(var(--v-theme-primary));

  --toastify-color-light: rgb(var(--v-theme-surface)) !important;
  --toastify-color-dark: rgb(var(--v-theme-surface)) !important;
  --toastify-color-info: var(--v-primary-base);
  --toastify-color-progress-success: rgb(var(--v-theme-success)) !important;
  --toastify-color-warning: var(--v-warning-base);
  --toastify-color-error: var(--v-error-base);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-color-success: rgb(var(--v-theme-success)) !important;
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light:rgb(var(--v-theme-success)) !important;
  --toastify-text-color-dark: rgb(var(--v-theme-success)) !important;

  --toastify-color-progress-dark: rgb(var(--v-theme-success)) !important;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: rgb(var(--v-theme-success)) !important;
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}


.v-footer {
  display: block !important;
}

a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 1.2;
  color: var(--color-title);
}

a::after {
  content: '';
  background-color: var(--primary);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
  border-radius: 20px;
}

a:hover::after {
  width: 10%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5% 0 5%;
  min-height: 80vh;
  min-width: 100%;
}

@media (min-width: 1920px) {
  .v-container {
    max-width: 1200px !important;
  }
}

a.v-btn.v-btn--elevated.v-theme--dark.bg-primary.v-btn--density-default.v-btn--size-large.v-btn--variant-elevated,
button.v-btn.v-btn--elevated.v-theme--dark.bg-primary.v-btn--density-default.v-btn--size-large.v-btn--variant-elevated {
  color: rgb(var(--v-theme-background)) !important;
}

::selection {
  color: rgb(var(--v-theme-background));
  background: rgb(var(--v-theme-primary));
}

.close-button {
  position: absolute !important;
  top: 8px !important;
  right: 8px !important;
}

.introduction {
  p {
    font-size: 1.875rem;
    margin-bottom: 30px;
    opacity: 0.7;
  }
}

.v-grid {
  display: grid;
  margin-top: 10px;
  font-size: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px 22px;
  justify-content: center;
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}