:root{
  --primary: #4B5695;
}

.v-footer {
  display: block !important;
}

a{
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 1.2;
  color: var(--color-title);
}

a::after {
  content: '';
  background-color: var(--primary);
  width: 100%;
  height: 2px;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.3s;
  border-radius: 20px;
}

a:hover::after {
  width: 10%;
}